<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="../assets/scss/style.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Slick.js -->
    <script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
</head>

<body>
    <div class="off-canvas push-menu-left" aria-hidden="true">
        <a class="button-close float-right" id="offCanvasCloseButton" data-toggle="offCanvas" aria-expanded="true" aria-controls="offCanvas" onclick="">
            <span>close</span>
        </a>
        <ul class="off-canvas__menu">
            <li>
                <h3 class="off-canvas__heading">
                    <span>Menu</span>
                </h3>
            </li>
            <!-- twig here -->
            <li class="off-canvas__sub-list">
                <a href="/faqs">FAQs</a>
            </li>
            <li class="off-canvas__sub-list">
                <a href="/views/contact-us.html">Contact Us</a>
            </li>
            <li class="off-canvas__sub-list">
                <a href="/terms-conditions">Terms</a>
            </li>
            <li class="off-canvas__sub-list">
                <a href="/delivery-information">Delivery</a>
            </li>
            <li class="off-canvas__sub-list">
                <a href="/refund-policy">Refund</a>
            </li>
            <li class="off-canvas__sub-list">
                <a href="/privacy-policy">Privacy</a>
            </li>
        </ul>
    </div>
    <div class="off-canvas off-canvas_basket push-basket-right" aria-hidden="true">
        <div class="off-canvas__basket-heading">
            <button id="off-canvas__basket-close" class="button-close" data-close="" type="button">
                <span>Close</span>
            </button>
        </div>
        <div class="items">

        </div>
        <div class="summary">
            <span class="off-canvas-basket__total-label uppercase">Subtotal</span>
            <span class="off-canvas-basket__total-value float-right">
                £0.00
            </span>
            <p class="subheader">Delivery costs and discount codes are added at checkout</p>

            <div class="buttons grid grid-cols-1 lg:grid-cols-12 lg:gap-4 ">
                <div class="lg:col-span-7 lg:order-last">
                    <a href="/checkout/basket" class="button button_large uppercase proceed">
                        PROCEED TO SECURE CHECKOUT
                    </a>
                </div>
                <div class="lg:col-span-5">
                    <a href="/checkout/basket" class="button button_large secondary">
                        Continue shopping
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- {% block content %} -->
        <noscript>
            <div class="callout primary">
                <p>
                JavaScript appears to be disabled in your browser. JavaScript must be enabled in order to utilise the full functionalilty of this website.
                </p>
            </div>
        </noscript>
        <div class="announcement-bar main-container m-0">
            <div class="announcement-bar__inner">
                <!-- <span>{{ theme.text_snippet('announce') }}</span> -->
                <span>Here is where you can write a message for the customer to announce something important to them.</span>
                <button class="announcement-bar__close-button button-close" aria-label="Dismiss alert" type="button">
                    <span>Close</span>
                </button>
            </div>
        </div>

        <header class="relative">
            <div class="sr-only">
                <a href="#content">Skip to Main Content</a>
            </div>
            <div class="header">
                <div class="grid lg:grid-cols-3 collapse">
                    <div class="header__inner order-2 lg:order-1 flex flex-row items-center">
                        <!-- {# burger menu button #} -->
                        <a class="header__menu-toggle" data-toggle="offCanvasMobile">
                            <!-- Pause icon -->
                            <i class="sw-icon-pause-sign" aria-hidden="true"></i>
                            <!-- Pause icon -->
                            <span class="sr-only">menu</span>
                        </a>
                        <!-- {# search toggle #} -->
                        <a class="header__search-toggle" data-toggle="header-search">
                            <!-- Search icon -->
                            <i class="sw-icon-musica-searcher" aria-hidden="true"></i>
                            <!-- Search icon -->
                            <span class="sr-only">search</span>
                        </a>
                        <!-- {# wishlist button #} -->
                        <a class="header__wishlist hidden lg:inline-block" href="/wishlist">
                            <!-- Heart icon -->
                            <i class="sw-icon-heart" aria-hidden="true"></i>
                            <!-- Heart icon -->
                            <span class="sr-only">my wishlist</span>
                        </a>
                        <!-- {# account menu toggle #} -->
                        <a class="header__account-toggle hidden lg:inline-block" data-toggle="account-dropdown">
                            <!-- User icon -->
                            <i class="sw-icon-user" aria-hidden="true"></i>
                            <!-- User icon -->
                            <span class="sr-only">open account menu</span>
                        </a>
                        <!-- {# currency toggle #} -->
                        <!-- {% if global.features.apps.currencies %} -->
                            <a class="header__currency-toggle hidden lg:inline-block" data-toggle="offCanvasCurrency">
                                <!-- {{ global.currency.name }} -->
                                GBP
                            </a>
                        <!-- {% endif %} -->
                        <!-- {# mobile basket link #} -->
                        <div class="header-mobile-right lg:hidden ml-auto flex items-stretch">
                            <!-- {# wishlist button #} -->
                            <a class="header__wishlist" href="/wishlist">
                                <!-- Heart icon -->
                                <i class="sw-icon-heart" aria-hidden="true"></i>
                                <!-- Heart icon -->
                                <span class="sr-only">my wishlist</span>
                            </a>
                            <!-- {# currency toggle #} -->
                            <!-- {% if global.features.apps.currencies %} -->
                                <a class="header__currency-toggle" data-toggle="offCanvasCurrency">
                                    <!-- {{ global.currency.name }} -->
                                    GBP
                                </a>
                            <!-- {% endif %} -->
                            <a class="header__basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                                <!-- {{ theme.sw_icon('shopping-basket', 'shopping basket') }} -->
                                <!-- Shopping basket icon -->
                                <i class="sw-icon-shopping-basket" aria-hidden="true"></i>
                                <!-- Shopping basket icon -->
                                <span class="sr-only">shopping basket</span>
                            </a>
                        </div>
                        <!-- {{ block('header_account_dropdown') }} -->
                    </div>

                    <div class="header__inner order-1 lg:order-2 text-center">
                        <!-- {# logo container #} -->
                        <!-- {{ block('header_logo') }} 
                        Taken from header.twig: -->
                        <a href="/views/index.html" class="header__logo">
                            <img src="" alt="" class="header__logo-image">
                            <span class="header__logo-text font-sans">
                                Vivify
                            </span>
                        </a>
                    </div>

                    <div class="header__inner order-3 hidden lg:flex flex-row items-center justify-end">
                    <!-- {# header snippet #} -->
                            <!-- {% if gts.text_header %} -->
                            <span class="header-text">
                                <strong>Free shipping</strong> - on all orders over £35
                            </span>
                        <!-- {% endif %} -->
                        <!-- {# basket link #} -->
                        <a class="header__basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                            <a class="header__basket" data-toggle="offCanvasBasket" aria-expanded="false" aria-controls="offCanvasBasket">
                                <!-- Shopping basket icon -->
                                <i class="sw-icon-shopping-basket" aria-hidden="true"></i>
                                <!-- Shopping basket icon -->
                                <span class="sr-only">shopping basket</span>
                            </a>
                        </a>
                    </div>
                </div> 
            </div>
            <!-- {{ block('header_navigation') }} -->
            <div class="header__nav hidden lg:block">
                <nav class="main-container">
                    <div class="header__nav-inner">
                        <button type="button" class="mobile-menu-toggle lg:hidden" data-toggle="offCanvasMobile">
                            <!-- {{ theme.sw_icon('bars') }} -->
                            <!-- Pause icon -->
                            <i class="sw-icon-pause" aria-hidden="true"></i>
                            <!-- Pause icon -->
                            <span class="sr-only">menu</span>
                            Menu
                        </button>
                        <div class="header_mobile_right lg:hidden">
                            <a class="header__mobile-basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                                <!-- {{ theme.sw_icon('shopping-bag', 'Shopping Basket') }} -->
                                <!-- Shopping basket icon -->
                                <i class="sw-icon-shopping-basket" aria-hidden="true"></i>
                                <!-- Shopping basket icon -->
                                <span class="sr-only">shopping basket</span>
                                <span class="hidden lg:block">Shopping basket</span>
                                <!-- <span class="basket-count">{{ global.basket.items }}</span> -->
                            </a>
                            <button type="button" class="mobile-search-toggle" data-toggle="header-search">
                                <!-- {{ theme.sw_icon('glass', 'Search') }} -->
                                <!-- Search icon -->
                                <i class="sw-icon-musica-searcher" aria-hidden="true"></i>
                                <!-- Search icon -->
                                <span class="sr-only">search</span>
                            </button>
                            <!-- {% if global.features.apps.currencies %}
                                {% include 'partials/currency_dropdown.twig' with { 'size': 'small' } %}
                            {% endif %} -->
                        </div>
                        <!-- {# Render main navigation #} -->
                        <div id="main-nav-wrapper" class="main-nav-wrapper{{ theme_config.nav_style == 1 ? ' click-drop' : '' }} hidden lg:block" data-toggler=".lg:block">
                            <ul class="main-nav flex flex-col justify-center lg:flex-row menu"
                                data-responsive-menu="accordion large-dropdown"
                                data-close-on-click-inside
                            >
                                <!-- {# Render home link #} -->
                                <li class="main-nav-home-link">
                                    <a href="/views/index.html"{% if global.current_path == '/' %} class="active"{% endif %}>
                                        Home
                                    </a>
                                </li>
                                <!-- {# Render category links #} -->
                                <!-- {% for category in global.categories|slice(0, category_limit|default(20)) %}
                                    <li{% if theme_config.nav_style == 1 %} data-id="{{ category.id }}" class="{{ category.categories ? 'parent-with-sub' }}"{% endif %}>
                                        <a href="{{ category.url }}" {% if category.url in global.current_url %}class="active" {% endif %}>
                                            {{ category.title }}
                                        </a>
                                        {% if category.categories and not theme_config.nav_style == 1 %} -->
                                            <ul class="main-nav flex flex-col lg:flex-row">
                                                <!-- {% for subcategory in category.categories %} -->
                                                    <li>
                                                        <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                            Cool Tools
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                            <!-- {{ subcategory.title }} -->
                                                            Gadgets
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                            <!-- {{ subcategory.title }} -->
                                                            Gifts
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                            <!-- {{ subcategory.title }} -->
                                                            Toys & Games
                                                        </a>
                                                    </li>
                                                <!-- {% endfor %} -->
                                        <!-- {% endif %} -->
                                    </li>
                                <!-- {% endfor %} 
                                {% if global.categories|length > category_limit|default(20) %}
                                    <li>
                                        <a href="/categories">
                                            View All
                                        </a>
                                    </li>
                                {% endif %}
                                {# category link list #}
                                {% set category_add_list = global.theme.settings.list_category_add %}
                                {% if category_add_list and category_add_list.links %}
                                    {# Render custom links #}
                                    {% for link in category_add_list.links %
                                        <li {% if loop.first %} id="list_category_add"{% endif %}>
                                            <a href="{{ link.url }}">
                                                {{ link.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                {# Render brand links #}
                                {% if global.brands %} -->
                                    <li {% if theme_config.nav_style == 1 %} data-id="brands" class="parent-with-sub"{% endif %}>
                                        <a href="/brands" {% if global.current_path == '/brands' %}class="active" {% endif %}>
                                            Brands
                                        </a> 
                                        <!-- {% if not theme_config.nav_style == 1 %}
                                            <ul class="vertical menu is-dropdown-submenu">
                                                {% for brand in global.brands|slice(0, brand_limit|default(20)) %}
                                                    <li>
                                                        <a href="{{ brand.url }}" {% if brand.url in global.current_path %}class="active" {% endif %}>
                                                            {{ brand.title }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                                {% if global.brands|length > brand_limit|default(20) %} 
                                                    <li>
                                                        <a href="/brands">
                                                            View All
                                                        </a>
                                                    </li>
                                                {% endif %} -->
                                            </ul>
                                        <!-- {% endif %} -->
                                    </li>
                                <!-- {% endif %}
                                {# Render blog link #}
                                {% if global.features.apps.blog %} -->
                                    <li>
                                        <a href="/blog"{% if global.current_path == '/blog' %} class="active"{% endif %}>
                                            Blog
                                        </a>
                                    </li>
                                <!-- {% endif %} -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- {{ block('header_search') }} -->
            <div class="header__search hidden" id="header__search" data-toggler=".hide" aria-expanded="false">
                <div class="grid md:grid-cols-12 main-container">
                    <div class="md:col-span-7">
                        <form class="header__search-container" action="/search/products" method="get">
                            <div class="header__search-inner inline-block">
                                <div class="input-group relative flex place-content-between items-center mod-custom mod-search no-margin">
                                    <span class="input-group-label">
                                        <i class="sw-icon-musica-searcher" aria-hidden="true"></i>
                                    </span>
                                    <input type="search" name="keywords" placeholder="Search by product name, code or category" class="header-search-input input-group-field">
                                    <div class="input-group-button">
                                        <button type="submit" class="button">Go</button>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="header__search-close button-close hidden lg:inline-block" data-toggle="header-search" aria-controls="header-search">
                                <span>Close</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <!-- {% endblock %}-->

        <main>
            <div id="main-content">
                <section class="contact-info">
                    <div class="contact-info__inner mx-auto text-center">
                        <h1 class="contact-info__heading font-normal">Contact Us</h1> 
                        <p class="contact-info__address uppercase ">
                            43 Coronet Street
                            <br>
                            London
                            <br>
                            N1 6HD
                        </p>
                        <p class="contact-info__telephone uppercase">
                            TEL: 0121 243 8176
                        </p>
                        <p class="contact-info__email">
                            <span class="uppercase">Email:</span> info@notanotherbill.com 
                        </p>
                    </div>
                </section>
                <section class="contact-form">
                    <div class="contact-form__container mx-auto">
                        <div class="contact-form__inner main-container grid grid-cols-1 md:grid-cols-3">
                            <div class="contact-form__heading col-span-1">
                                <h2>Contact Form</h2>
                                <p class="contact-form__message">Complete the form and a member of our team will contact you within 24-48 hours.</p>
                            </div>
                            <div class="contact-form__form col-span-2">
                                <form action="/contact-us" method="post">
                                    <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-10">
                                        <label>
                                            <p class="field-label">Your name</p>
                                            <input type="text" name="name" aria-required="true">
                                        </label>
                                        <label>
                                            <p class="field-label">Your telephone number</p>
                                            <input  type="text" name="phone" aria-required="true">
                                        </label>
                                    </div>
                                    <label>
                                        <p class="field-label">Your email address</p>
                                        <input type="text" name="email" aria-required="true">
                                    </label>
                                    <label>
                                        <p class="field-label">Your enquiry</p>
                                        <textarea cols="30" rows="3" name="message" aria-required="true"></textarea>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

        <footer>
            <div class="footer__grid grid grid-cols-1 lg:grid-cols-12">
                <div class="footer__menu lg:col-span-2">
                    <h4 class="footer__menu-title">
                        Info
                    </h4>
                    <ul>
                        <li>
                            <a href="/views/index.html" class="footer__menu-link">Home</a>
                        </li>
                        <li>
                            <a href="#" class="footer__menu-link">About Us</a>
                        </li>
                        <li>
                            <a href="#" class="footer__menu-link">FAQs</a>
                        </li>
                        <li>
                            <a href="/views/contact-us.html" class="footer__menu-link">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__menu lg:col-span-2">
                    <h4 class="footer__menu-title">
                        Legals
                    </h4>
                    <ul>
                        <li>
                            <a href="#" class="footer__menu-link">Delivery</a>
                        </li>
                        <li>
                            <a href="#" class="footer__menu-link">Terms</a>
                        </li>
                        <li>
                            <a href="#" class="footer__menu-link">Privacy</a>
                        </li>
                        <li>
                            <a href="#" class="footer__menu-link">Refunds</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__menu lg:col-span-2">
                    <h4 class="footer__menu-title">
                        Customers
                    </h4>
                    <ul>
                        <li>
                            <a href="#" class="footer__menu-link">Your bag</a>
                        </li>
                        <li>
                            <a href="#" class="footer__menu-link">Your Wishlist</a>
                        </li>
                        <li>
                            <a href="#" class="footer__menu-link">Your Account</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__menu lg:col-span-3 lg:text-right">
                    <h4 class="footer__menu-title">
                        Connect with us
                    </h4>
                    <ul>
                        <form class="footer__email-form flex">
                            <input type="email" class="footer__email-input" placeholder="Email address">
                            <input class="ml-auto inline-block" type="submit" value=""><button class="sw-icon-arrow"></button></input>
                        </form>
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <!-- Facebook icon -->
                                    <i class="sw-icon-facebook-logo" aria-hidden="true"></i>
                                    <!-- Facebook icon -->
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!-- Twitter icon -->
                                    <i class="sw-icon-twitter" aria-hidden="true"></i>
                                    <!-- Twitter icon -->
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!-- Linkedin icon -->
                                    <i class="sw-icon-linkedin" aria-hidden="true"></i>
                                    <!-- Linkedin icon -->
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!-- Pinterest icon -->
                                    <i class="sw-icon-pinterest" aria-hidden="true"></i>
                                    <!-- Linkedin icon -->
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!-- Youtube icon -->
                                    <i class="sw-icon-youtube" aria-hidden="true"></i>
                                    <!-- Youtube icon -->
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <!-- Instagram icon -->
                                    <i class="sw-icon-instagram" aria-hidden="true"></i>
                                    <!-- Instagram icon -->
                                </a>
                            </li>
                        </ul>
                    </ul>
                </div>
                <div class="footer__contact lg:order-first lg:col-span-3">
                    <p class="footer__contact-telephone">
                        <span class="footer__contact-label">Tel:</span>
                        <a class="underline" href="tel:0330 111 2024">0330 111 2024</a>
                    </p>
                    <p class="footer__contact-email">
                        <span class="footer__contact-label">Email:</span>
                        <a class="underline" href="mailto:vivify-demo-1@ecommercethemes.uk">vivify-demo-1@ecommercethemes.uk</a>
                    </p>
                    <address class="footer__contact-address">
                        Suite 3, 17 Wrens Court, Sutton Coldfield, B72 1RT
                    </address>
                </div>
                <div class="footer__copy lg:col-span-6">
                    <p>
                        Copyright © 2022. All Rights Reserved.&nbsp;<a class="underline" href="" target="_blank">Ecommerce</a> by Ecommerce Themes
                    </p>
                </div>
                <ul class="footer__payment-list lg:col-span-6 lg:text-right">
                    <li>
                        <img src="https://s3-eu-west-1.amazonaws.com/theme-card-logos/card_paypal.png" alt="Paypal">
                    </li>
                    <li>
                        <img src="https://s3-eu-west-1.amazonaws.com/theme-card-logos/card_mastercard.png" alt="Mastercard">
                    </li>
                    <li>
                        <img src="https://s3-eu-west-1.amazonaws.com/theme-card-logos/card_visa.png" alt="Visa">
                    </li>
                    <li>
                        <img src="https://s3-eu-west-1.amazonaws.com/theme-card-logos/card_maestro.png" alt="Maestro">
                    </li>
                </ul>
            </div>
        </footer>
        <div class="off-canvas-overlay invisible opacity-0"></div>
    </div>

    <script>
                // Off canvas menu
                $( ".header__menu-toggle").click(function() {
            $( ".off-canvas" ).toggleClass("push-menu-left")
            $( ".content").toggleClass( "push-content-right" )
            $( ".off-canvas-overlay" ).toggleClass("invisible opacity-0")
        })

        $( "#offCanvasCloseButton" ).click(function() {
            $( ".off-canvas" ).toggleClass("push-menu-left")
            $( ".content").toggleClass( "push-content-right" )
            $( ".off-canvas-overlay" ).toggleClass("invisible opacity-0")
        });

        // Off canvas basket
        $( ".header__basket").click(function() {
            $( ".off-canvas_basket" ).toggleClass("push-basket-right")
            $( ".content").toggleClass( "push-content-left" )
            $( ".off-canvas-overlay" ).toggleClass("invisible opacity-0")
        })

        $( "#off-canvas__basket-close" ).click(function() {
            $( ".off-canvas_basket" ).toggleClass("push-basket-right")
            $( ".content").toggleClass( "push-content-left" )
            $( ".off-canvas-overlay" ).toggleClass("invisible opacity-0")
        });

        // Search
        $( ".header__search-toggle ").click( function () {
            $( "#main-content" ).toggleClass("search-open");
            $( ".header__search").toggleClass("hidden");
        })

        $( ".header__search-close ").click( function () {
            $( "#main-content" ).toggleClass("search-open");
            $( ".header__search").toggleClass("hidden");
        })
    </script>

</body>