@font-face {
  font-family: "museo_sans";
  src: url("../fonts/museo_sans_700_normal.eot");
  src: url("../fonts/museo_sans_700_normal.eot?#iefi700") format("embedded-opentype"), url("../fonts/museo_sans_700_normal.woff2") format("woff2"), url("../fonts/museo_sans_700_normal.woff") format("woff"), url("../fonts/museo_sans_700_normal.ttf") format("truetype"), url("../fonts/museo_sans_700_normal.svg#700") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "museo_sans";
  src: url("../fonts/museo_sans_900_normal.eot");
  src: url("../fonts/museo_sans_900_normal.eot?#iefi900") format("embedded-opentype"), url("../fonts/museo_sans_900_normal.woff2") format("woff2"), url("../fonts/museo_sans_900_normal.woff") format("woff"), url("../fonts/museo_sans_900_normal.ttf") format("truetype"), url("../fonts/museo_sans/museo_sans_900_normal.svg#900") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "sw-icons";
  src: url("../fonts/sw_icons.ttf?gqkc2a") format("truetype"), url("../fonts/sw_icons.woff?gqkc2a") format("woff"), url("../fonts/sw_icons.svg?gqkc2a#sw-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=sw-icon-], [class*=" sw-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "sw-icons" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sw-icon-facebook-logo:before {
  content: "\e92e";
}

.sw-icon-twitter1:before {
  content: "\e92f";
}

.sw-icon-instagram1:before {
  content: "\e930";
}

.sw-icon-pinterest1:before {
  content: "\e931";
}

.sw-icon-youtube-logo:before {
  content: "\e932";
}

.sw-icon-linkedin-logo:before {
  content: "\e933";
}

.sw-icon-tumblr-logo:before {
  content: "\e934";
}

.sw-icon-pause-sign:before {
  content: "\e935";
}

.sw-icon-musica-searcher:before {
  content: "\e938";
}

.sw-icon-heart:before {
  content: "\e940";
}

.sw-icon-person:before {
  content: "\e941";
}

.sw-icon-shopping-basket:before {
  content: "\e942";
}

.sw-icon-arrow:before {
  content: "\e943";
}

.sw-icon-arrow1:before {
  content: "\e952";
}

.sw-icon-expand:before {
  content: "\e944";
}

.sw-icon-mark-as-favorite-star:before {
  content: "\e945";
}

.sw-icon-premium-badge:before {
  content: "\e946";
}

.sw-icon-heart-1:before {
  content: "\e947";
}

.sw-icon-zoom-in:before {
  content: "\e948";
}

.sw-icon-film:before {
  content: "\e949";
}

.sw-icon-share:before {
  content: "\e94a";
}

.sw-icon-email:before {
  content: "\e94b";
}

.sw-icon-arrow-pointing-to-right:before {
  content: "\e94c";
}

.sw-icon-arrow-pointing-to-left:before {
  content: "\e951";
}

.sw-icon-equalizer:before {
  content: "\e94d";
}

.sw-icon-calendar2:before {
  content: "\e94e";
}

.sw-icon-calendar1:before {
  content: "\e94f";
}

.sw-icon-equalizer-console-with-three-switches-at-different-levels:before {
  content: "\e950";
}

.sw-icon-log-out:before {
  content: "\e929";
}

.sw-icon-account-home:before {
  content: "\e92a";
}

.sw-icon-box:before {
  content: "\e92b";
}

.sw-icon-eye:before {
  content: "\e92c";
}

.sw-icon-forbidden:before {
  content: "\e900";
}

.sw-icon-glass:before {
  content: "\e901";
}

.sw-icon-calendar:before {
  content: "\e902";
}

.sw-icon-facebook:before {
  content: "\e903";
}

.sw-icon-gift:before {
  content: "\e904";
}

.sw-icon-refresh:before {
  content: "\e905";
}

.sw-icon-pdf:before {
  content: "\e906";
}

.sw-icon-map-marker:before {
  content: "\e907";
}

.sw-icon-twitter:before {
  content: "\e908";
}

.sw-icon-google-plus:before {
  content: "\e909";
}

.sw-icon-linkedin:before {
  content: "\e90a";
}

.sw-icon-pinterest:before {
  content: "\e90b";
}

.sw-icon-youtube:before {
  content: "\e90c";
}

.sw-icon-instagram:before {
  content: "\e90d";
}

.sw-icon-bell:before {
  content: "\e90e";
}

.sw-icon-like:before {
  content: "\e90f";
}

.sw-icon-bars:before {
  content: "\e910";
}

.sw-icon-glass-2:before {
  content: "\e911";
}

.sw-icon-caret-down:before {
  content: "\e912";
}

.sw-icon-caret-up:before {
  content: "\e913";
}

.sw-icon-star:before {
  content: "\e914";
}

.sw-icon-star-on:before {
  content: "\e915";
}

.sw-icon-external-link:before {
  content: "\e916";
}

.sw-icon-plus-zoom:before {
  content: "\e917";
}

.sw-icon-play:before {
  content: "\e918";
}

.sw-icon-copy:before {
  content: "\e91b";
}

.sw-icon-grid:before {
  content: "\e91c";
}

.sw-icon-list:before {
  content: "\e91d";
}

.sw-icon-caret-right:before {
  content: "\e91e";
}

.sw-icon-circle-star:before {
  content: "\e91f";
}

.sw-icon-gift1:before {
  content: "\e920";
}

.sw-icon-mail:before {
  content: "\e921";
}

.sw-icon-map:before {
  content: "\e922";
}

.sw-icon-padlock:before {
  content: "\e923";
}

.sw-icon-phone:before {
  content: "\e924";
}

.sw-icon-shopping-bag:before {
  content: "\e925";
}

.sw-icon-truck:before {
  content: "\e926";
}

.sw-icon-user:before {
  content: "\e927";
}

.sw-icon-down-arrow:before {
  content: "\e936";
}

.sw-icon-down-chevron:before {
  content: "\e937";
}

.sw-icon-left-chevron:before {
  content: "\e928";
}

.sw-icon-move:before {
  content: "\e939";
}

.sw-icon-question:before {
  content: "\e93a";
}

.sw-icon-right-arrow:before {
  content: "\e93b";
}

.sw-icon-left-arrow:before {
  content: "\e92d";
}

.sw-icon-right-chevron:before {
  content: "\e93c";
}

.sw-icon-search:before {
  content: "\e93d";
}

.sw-icon-up-arrow:before {
  content: "\e93e";
}

.sw-icon-up-chevron:before {
  content: "\e93f";
}

.sw-icon-minus:before {
  content: "\e919";
}

.sw-icon-plus:before {
  content: "\e91a";
}

.sw-icon-tumblr:before {
  content: "\eab9";
}

/* All of the breakpoints need to be changed to fit with tailwind.css */
html, body {
  font-size: 13.75px;
  line-height: 1.2;
  font-family: sofia-pro, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.56rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sofia-pro, sans-serif;
}
h1 {
  color: #000000;
}
h1.regular-header {
  font-size: 26px;
  font-size: 1.8909090909rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.5em;
}
h1.galleries-header {
  font-size: 46px;
  font-size: 3.3454545455rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.5em;
}
h1.blog-post-header {
  font-size: 52px;
  font-size: 3.7818181818rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.5em;
  color: #000000;
}
h1.stockists-header {
  font-size: 56px;
  font-size: 4.0727272727rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.5em;
}
h1.account-header {
  font-size: 66px;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 39.9375em) {
  h1.account-header {
    font-size: 40px;
    font-size: 2.9090909091rem;
  }
}
h1.newsletter-header {
  font-size: 86px;
  font-size: 6.2545454545rem;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 39.9375em) {
  h1.newsletter-header {
    font-size: 40px;
    font-size: 2.9090909091rem;
  }
}
h1.blog-home-title {
  color: #000000;
}

.section-header {
  font-size: 14px;
  font-size: 1.0181818182rem;
  font-weight: 800;
  padding: 20px 0 15px;
  padding: 1.4545454545rem 0 1.0909090909rem;
}

address {
  font-style: normal;
}

a {
  color: #bd1d45;
}
a:hover, a:focus, a:active, a.active {
  outline: none;
  color: #bd1d45;
}

:focus {
  outline: none;
}

hr {
  max-width: 85rem;
}

.page-description {
  padding-bottom: 25px;
  padding-bottom: 1.8181818182rem;
}

.snippet-container a {
  color: #000000;
  text-decoration: underline;
}
.snippet-container a:hover, .snippet-container a:focus, .snippet-container a:active, .snippet-container a.active {
  outline: none;
  color: #000000;
}

body {
  background: #fff;
  color: #000000;
  margin: 0;
}

.bg {
  background: #f9f9f9;
}

.main-container {
  padding-left: 2.1818181818rem;
  padding-right: 2.1818181818rem;
}

.announcement-bar {
  background-color: #bd1d45;
  color: #ffffff;
  border: 0;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  font-size: 0.945rem;
  line-height: 1.1;
  text-align: center;
}
.announcement-bar__inner {
  position: relative;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.announcement-bar__close-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  color: #ffffff;
  background: none;
  border: none;
}

.button-close {
  text-transform: lowercase;
  font-size: 0.873rem;
  font-weight: normal;
  line-height: 1.1;
  cursor: pointer;
}
.button-close span {
  text-decoration: underline;
}

@media screen and (min-width: 64em) {
  .header__inner {
    vertical-align: middle;
  }
}
@media screen and (min-width: 64em) and (max-width: 39.9375em) {
  .header__inner {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-left: 1.4545454545rem;
  }
}
@media screen and (min-width: 64em) {
  .header__inner > * {
    vertical-align: middle;
  }
  .header__inner > * + *:not(.account-dropdown):not(.logo-text):not(.header__basket) {
    margin-left: 1.5rem;
    margin-left: 2.5vw;
  }
}
.header__menu-toggle {
  font-size: 21px;
  font-size: 1.5272727273rem;
  color: #000000;
}
.header__menu-toggle i {
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.header__search-toggle, .header__wishlist, .header__account-toggle {
  font-size: 18px;
  font-size: 1.3090909091rem;
}
.header__wishlist {
  font-size: 22px;
  font-size: 1.6rem;
  color: #000000;
}
.header__account-toggle {
  color: #000000;
}
.header__currency-toggle {
  color: #000000;
  font-size: 14px;
  font-size: 1.0181818182rem;
  font-weight: 700;
}
.header__search-toggle {
  color: #000000;
}
.header__basket {
  color: #000000;
  font-size: 28px;
  font-size: 2.0363636364rem;
}
.header__logo {
  padding: 10px 0;
  padding: 0.7272727273rem 0;
}
@media screen and (max-width: 63.9375em) {
  .header__logo {
    display: inline-block;
  }
}
.header__logo > .header__logo-image {
  width: auto;
  max-width: 250px;
  margin: auto;
  display: block;
}
.header__logo .header__logo-text {
  color: #000000;
  display: inline-block;
  font-size: 26px;
  font-size: 1.8909090909rem;
  font-weight: 900;
  line-height: 1.1;
  padding: 20px 0;
  padding: 1.4545454545rem 0;
  text-transform: uppercase;
}
.header-text {
  background-color: #ffe256;
  color: #000000;
  font-size: 14px;
  font-size: 1.0181818182rem;
  max-width: calc(100% - 50px);
  padding: 6px 10px;
  padding: 0.4363636364rem 0.7272727273rem;
  text-align: center;
  margin-right: 1.0909090909rem;
}
.header-text strong {
  text-transform: uppercase;
}
.header__nav {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  text-transform: uppercase;
}
.header__nav-inner a {
  font-size: 0.945rem;
  color: #000000;
}
.header__nav-inner .main-nav > li {
  display: inline-block;
  padding: 1.1rem;
}
.header-mobile-right {
  height: 55px;
  height: 4rem;
}
.header-mobile-right > * {
  display: inline-block;
  vertical-align: top;
}
.header-mobile-right > * + * {
  margin-left: 1.5rem;
}
.header-menu {
  display: inline-block;
}
.header-search {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-right: 0;
  z-index: 5;
  padding-top: 1rem;
}
@media screen and (max-width: 39.9375em) {
  .header-search {
    background: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.header-search-input-group {
  margin-bottom: 0;
  line-height: 3.5rem;
  border-bottom: 1px solid #000;
}
.header-search-input {
  background-color: transparent;
  color: #000000 !important;
  border: 0;
  box-shadow: none;
  height: 3.5rem;
  padding-left: 0;
  font-size: 1.5rem;
}
.header-search-input:active, .header-search-input:focus {
  border: none;
  box-shadow: none;
}
.header-search-input::-webkit-input-placeholder {
  color: #000000 !important;
}
.header-search-input:-moz-placeholder {
  color: #000000 !important;
}
.header-search-input::-moz-placeholder {
  color: #000000 !important;
}
.header-search-input:-ms-input-placeholder {
  color: #000000 !important;
}
.header-search-button {
  background-color: transparent;
  height: 3.5rem;
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
  padding-right: 0;
  text-transform: uppercase;
}
.header-search-button:hover, .header-search-button:active, .header-search-button:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #000;
}
.header-search .search-container {
  background-color: #fff;
  padding: 10px 0;
  padding: 0.7272727273rem 0;
}

.search-open .content {
  position: relative;
}
.search-open .content:before {
  content: "";
  background-color: rgba(238, 238, 238, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.button {
  background: transparent;
  font-size: 1.01rem;
  border: 1px solid #000000;
  padding: 1.5rem 3.27rem;
  letter-spacing: 5px;
  width: fit-content;
  min-width: 170px;
}
.button span {
  color: #000000;
}

.section-block {
  padding: 3rem 0;
}

.featured-categories-slider {
  font-size: 0.945rem;
}
.featured-categories-slider__featured-box {
  margin-bottom: 45px;
  margin-bottom: 3.2727272727rem;
}
.featured-categories-slider__shadow-box {
  padding: 40px;
  padding: 2.9090909091rem;
  background-color: #f9f9f9;
}
.featured-categories-slider__heading {
  background-color: #f9f9f9;
  padding: 40px 35px;
  padding: 2.9090909091rem 2.5454545455rem;
  margin-bottom: 1.3rem;
}
.featured-categories-slider__heading h1 {
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  font-size: 2rem;
}
.featured-categories-slider__heading h1 + div {
  margin-top: 1rem;
}
.featured-categories-slider__heading h1 a {
  color: #000000;
}
.featured-categories-slider__heading p:last-of-type {
  margin: 0;
}
.featured-categories-slider__arrow {
  display: contents;
  font-size: 60px;
  color: #000000;
  padding: 0;
  margin: 0;
  top: auto;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  transform: none;
}
.featured-categories-slider__arrow.arrow-prev, .featured-categories-slider__arrow.arrow-next {
  position: absolute;
  bottom: 0;
}
.featured-categories-slider__button {
  margin-left: 40px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
