<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../assets/scss/style.css">
</head>
<body>
    <!-- {% block content %} -->
        <noscript>
            <div class="callout primary">
                <p>
                JavaScript appears to be disabled in your browser. JavaScript must be enabled in order to utilise the full functionalilty of this website.
                </p>
            </div>
        </noscript>
        <!-- {% if gts.text_announce|length %} -->
        <div class="announcement-bar m-0 main-container">
            <div class="announcement-bar__inner">
                <!-- <span>{{ theme.text_snippet('announce') }}</span> -->
                <span>Here is where you can write a message for the customer to announce something important to them.</span>
                <button class="announcement-bar__inner_close-button announcement-bar-close btn-close" aria-label="Dismiss alert" type="button">
                    <span>Close</span>
                </button>
            </div>
        </div>
        <!-- {% endif %} -->
        <header>
            <div class="sr-only">
                <a href="#content">Skip to Main Content</a>
            </div>
            <div class="header-top main-container">
                <div class="grid lg:grid-cols-3 collapse" data-equalizer="header_top" data-equalize-on="large">
                    <div class="lg:order-2 header-top-outer text-center" data-equalizer-watch="header_top">
                        <!-- {# logo container #} -->
                        <!-- {{ block('header_logo') }} 
                        Taken from header.twig: -->
                        <a href="/" class="header-logo header-top-inner">
                            <img src="" alt="" class="logo-image">
                            <span class="logo-text">
                                Vivify
                            </span>
                        </a>
                    </div>
                    <div class="lg:order-1 header-top-outer" data-equalizer-watch="header_top">
                        <div class="header-top-inner">
                            <!-- {# burger menu button #} -->
                            <a class="header-menu-toggle" data-toggle="offCanvasMobile">
                                <!-- {{ theme.sw_icon('pause-sign', 'menu') }} -->
                                <i class="sw-icon-pause-sign" aria-hidden="true"></i>
                                <span class="sr-only">menu</span>
                            </a>
                            <!-- {# search toggle #} -->
                            <a class="header-search-toggle" data-toggle="header-search">
                                <!-- {{ theme.sw_icon('musica-searcher', 'search') }} -->
                                <i class="sw-icon-musica-searcher" aria-hidden="true"></i>
                                <span class="sr-only">search</span>
                            </a>
                            <!-- {# wishlist button #} -->
                            <a class="header-wishlist hidden lg:inline-block" href="/wishlist">
                                <!-- {{ theme.sw_icon('heart', 'my wishlist') }} -->
                                <i class="sw-icon-heart" aria-hidden="true"></i>
                                <span class="sr-only">my wishlist</span>
                            </a>
                            <!-- {# account menu toggle #} -->
                            <a class="header-account-toggle hidden lg:inline-block" data-toggle="account-dropdown">
                                <!-- {{ theme.sw_icon('person', 'open account menu') }} -->
                                <i class="sw-icon-person" aria-hidden="true"></i>
                                <span class="sr-only">open account menu</span>
                            </a>
                            <!-- {# currency toggle #} -->
                            <!-- {% if global.features.apps.currencies %} -->
                                <a class="header-currency-toggle hidden lg:inline-block" data-toggle="offCanvasCurrency">
                                    <!-- {{ global.currency.name }} -->
                                    GBP
                                </a>
                            <!-- {% endif %} -->
                            <!-- {# mobile basket link #} -->
                            <div class="header-mobile-right lg:hidden float-right">
                                <!-- {# wishlist button #} -->
                                <a class="header-wishlist" href="/wishlist">
                                    <!-- {{ theme.sw_icon('heart', 'my wishlist') }} -->
                                    <i class="sw-icon-heart" aria-hidden="true"></i>
                                    <span class="sr-only">my wishlist/span>
                                </a>
                                <!-- {# currency toggle #} -->
                                <!-- {% if global.features.apps.currencies %} -->
                                    <a class="header-currency-toggle" data-toggle="offCanvasCurrency">
                                        <!-- {{ global.currency.name }} -->
                                        GBP
                                    </a>
                                <!-- {% endif %} -->
                                <a class="header-basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                                    <!-- {{ theme.sw_icon('shopping-basket', 'shopping basket') }} -->
                                    <i class="sw-icon-shopping-basket" aria-hidden="true"></i>
                                    <span class="sr-only">shopping basket</span>
                                </a>
                            </div>
                            <!-- {{ block('header_account_dropdown') }} -->
                        </div>
                    </div>
                    <div class="lg:order-3 invisible lg:visible text-right header-top-outer" data-equalizer-watch="header_top">
                        <div class="header-top-inner">
                            <!-- {# header snippet #} -->
                            <!-- {% if gts.text_header %} -->
                                <span class="header-text">
                                    <strong>Free shipping</strong> - on all orders over £35
                                </span>
                            <!-- {% endif %} -->
                            <!-- {# basket link #} -->
                            <a class="header-basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                                <a class="header-basket" data-toggle="offCanvasBasket" aria-expanded="false" aria-controls="offCanvasBasket">
                                    <i class="sw-icon-shopping-basket" aria-hidden="true"></i>
                                    <span class="sr-only">shopping basket</span>
                                </a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- {{ block('header_navigation') }} -->
            <div class="header-nav-outer hidden lg:block">
                <nav class="main-container">
                    <div class="header-nav">
                        <button type="button" class="mobile-menu-toggle lg:hidden" data-toggle="offCanvasMobile">
                            <!-- {{ theme.sw_icon('bars') }} -->
                            <i class="sw-icon-bars" aria-hidden="true"></i>
                            <span class="sr-only">menu</span>
                            Menu
                        </button>
                        <div class="header-mobile-right lg:hidden">
                            <a class="header-mobile-basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                                <!-- {{ theme.sw_icon('shopping-bag', 'Shopping Basket') }} -->
                                <i class="sw-icon-shopping-basket" aria-hidden="true"></i>
                                <span class="sr-only">shopping basket</span>
                                <span class="hidden lg:block">Shopping basket</span>
                                <!-- <span class="basket-count">{{ global.basket.items }}</span> -->
                            </a>
                            <button type="button" class="mobile-search-toggle" data-toggle="header-search">
                                <!-- {{ theme.sw_icon('glass', 'Search') }} -->
                                <i class="sw-icon-glass" aria-hidden="true"></i>
                                <span class="sr-only">search</span>
                            </button>
                            <!-- {% if global.features.apps.currencies %}
                                {% include 'partials/currency_dropdown.twig' with { 'size': 'small' } %}
                            {% endif %} -->
                        </div>
                        <!-- {# Render main navigation #} -->
                        <div id="main-nav-wrapper" class="main-nav-wrapper{{ theme_config.nav_style == 1 ? ' click-drop' : '' }} hidden lg:block" data-toggler=".lg:block">
                            <ul class="main-nav flex flex-col justify-center lg:flex-row menu"
                                data-responsive-menu="accordion large-dropdown"
                                data-close-on-click-inside
                            >
                                <!-- {# Render home link #} -->
                                <li class="main-nav-home-link">
                                    <a href="/"{% if global.current_path == '/' %} class="active"{% endif %}>
                                        Home
                                    </a>
                                </li>
                                <!-- {# Render category links #} -->
                                <!-- {% for category in global.categories|slice(0, category_limit|default(20)) %}
                                    <li{% if theme_config.nav_style == 1 %} data-id="{{ category.id }}" class="{{ category.categories ? 'parent-with-sub' }}"{% endif %}>
                                        <a href="{{ category.url }}" {% if category.url in global.current_url %}class="active" {% endif %}>
                                            {{ category.title }}
                                        </a>
                                        {% if category.categories and not theme_config.nav_style == 1 %} -->
                                            <ul class="main-nav menu flex flex-col lg:flex-row is-dropdown-submenu">
                                                <!-- {% for subcategory in category.categories %} -->
                                                    <li>
                                                        <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                            Cool Tools
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                            <!-- {{ subcategory.title }} -->
                                                            Gadgets
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                            <!-- {{ subcategory.title }} -->
                                                            Gifts
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                            <!-- {{ subcategory.title }} -->
                                                            Toys & Games
                                                        </a>
                                                    </li>
                                                <!-- {% endfor %} -->
                                        <!-- {% endif %} -->
                                    </li>
                                <!-- {% endfor %} 
                                {% if global.categories|length > category_limit|default(20) %}
                                    <li>
                                        <a href="/categories">
                                            View All
                                        </a>
                                    </li>
                                {% endif %}
                                {# category link list #}
                                {% set category_add_list = global.theme.settings.list_category_add %}
                                {% if category_add_list and category_add_list.links %}
                                    {# Render custom links #}
                                    {% for link in category_add_list.links %
                                        <li {% if loop.first %} id="list_category_add"{% endif %}>
                                            <a href="{{ link.url }}">
                                                {{ link.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                                {# Render brand links #}
                                {% if global.brands %} -->
                                    <li {% if theme_config.nav_style == 1 %} data-id="brands" class="parent-with-sub"{% endif %}>
                                        <a href="/brands" {% if global.current_path == '/brands' %}class="active" {% endif %}>
                                            Brands
                                        </a> 
                                        <!-- {% if not theme_config.nav_style == 1 %}
                                            <ul class="vertical menu is-dropdown-submenu">
                                                {% for brand in global.brands|slice(0, brand_limit|default(20)) %}
                                                    <li>
                                                        <a href="{{ brand.url }}" {% if brand.url in global.current_path %}class="active" {% endif %}>
                                                            {{ brand.title }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                                {% if global.brands|length > brand_limit|default(20) %} 
                                                    <li>
                                                        <a href="/brands">
                                                            View All
                                                        </a>
                                                    </li>
                                                {% endif %} -->
                                            </ul>
                                        <!-- {% endif %} -->
                                    </li>
                                <!-- {% endif %}
                                {# Render blog link #}
                                {% if global.features.apps.blog %} -->
                                    <li>
                                        <a href="/blog"{% if global.current_path == '/blog' %} class="active"{% endif %}>
                                            Blog
                                        </a>
                                    </li>
                                <!-- {% endif %} -->
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- {{ block('header_search') }} -->
        </header>
    <!-- {% endblock %} -->
    
</body>
</html>