<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../assets/theme.css">
</head>
<body>
    <!-- {% if gts.text_announce|length %} -->
    <div class="announcement-bar invisible m-0">
        <div class="announcement-bar__inner">
            <!-- <span>{{ theme.text_snippet('announce') }}</span> -->
            <span>Here is where you can write a message for the customer to announce something important to them.</span>
            <button class="announcement-bar__inner_close-button announcement-bar-close btn-close" aria-label="Dismiss alert" type="button" data-close>
                <span>Close</span>
            </button>
        </div>
    </div>
    <!-- {% endif %} -->
    
</body>
</html>