<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../assets/scss/style.css">
</head>
<body>
    <noscript>
        <div class="callout primary">
            <p>
            JavaScript appears to be disabled in your browser. JavaScript must be enabled in order to utilise the full functionalilty of this website.
            </p>
        </div>
    </noscript>

    <header class="relative">
        <div class="sr-only">
            <a href="#content">Skip to Main Content</a>
        </div>
        <div class="header">
            <div class="grid lg:grid-cols-3 collapse">
                <div class="header__inner order-2 lg:order-1 flex flex-row items-center">
                    <!-- {# burger menu button #} -->
                    <a class="header__menu-toggle" data-toggle="offCanvasMobile">
                        <!-- Pause icon -->
                        <svg class="icon icon_pause">
                            <use href="../assets/icons/Vivify-SVG-sprite.svg#pause" />
                        </svg>
                        <!-- Pause icon -->
                        <span class="sr-only">menu</span>
                    </a>
                    <!-- {# search toggle #} -->
                    <a class="header__search-toggle" data-toggle="header-search">
                        <!-- Search icon -->
                        <svg class="icon icon_magnifying-glass">
                            <use href="../assets/icons/Vivify-SVG-sprite.svg#magnifying-glass" />
                        </svg>

                        <!-- Search icon -->
                        <span class="sr-only">search</span>
                    </a>
                    <!-- {# wishlist button #} -->
                    <a class="header__wishlist hidden lg:inline-block" href="/wishlist">
                        <!-- Heart icon -->
                        <svg class="icon icon_love">
                            <use href="../assets/icons/Vivify-SVG-sprite.svg#love" />
                        </svg>
                        <!-- Heart icon -->
                        <span class="sr-only">my wishlist</span>
                    </a>
                    <!-- {# account menu toggle #} -->
                    <a class="header__account-toggle hidden lg:inline-block" data-toggle="account-dropdown">
                        <!-- User icon -->
                        <svg class="icon icon_user">
                            <use href="../assets/icons/Vivify-SVG-sprite.svg#user" />
                        </svg>
                        <!-- User icon -->
                        <span class="sr-only">open account menu</span>
                    </a>
                    <!-- {# currency toggle #} -->
                    <!-- {% if global.features.apps.currencies %} -->
                        <a class="header__currency-toggle hidden lg:inline-block" data-toggle="offCanvasCurrency">
                            <!-- {{ global.currency.name }} -->
                            GBP
                        </a>
                    <!-- {% endif %} -->
                    <!-- {# mobile basket link #} -->
                    <div class="header-mobile-right lg:hidden ml-auto flex items-stretch">
                        <!-- {# wishlist button #} -->
                        <a class="header__wishlist" href="/wishlist">
                            <!-- Heart icon -->
                            <svg class="icon icon_love">
                                <use href="../assets/icons/Vivify-SVG-sprite.svg#love" />
                            </svg>
                            <!-- Heart icon -->
                            <span class="sr-only">my wishlist</span>
                        </a>
                        <!-- {# currency toggle #} -->
                        <!-- {% if global.features.apps.currencies %} -->
                            <a class="header__currency-toggle" data-toggle="offCanvasCurrency">
                                <!-- {{ global.currency.name }} -->
                                GBP
                            </a>
                        <!-- {% endif %} -->
                        <a class="header__basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                            <!-- {{ theme.sw_icon('shopping-basket', 'shopping basket') }} -->
                            <!-- Shopping basket icon -->
                            <svg class="icon icon_shopping-basket">
                                <use href="../assets/icons/Vivify-SVG-sprite.svg#shopping-basket" />
                            </svg>
                            <!-- Shopping basket icon -->
                            <span class="sr-only">shopping basket</span>
                        </a>
                    </div>
                    <!-- {{ block('header_account_dropdown') }} -->
                </div>

                <div class="header__inner order-1 lg:order-2 text-center">
                    <!-- {# logo container #} -->
                    <!-- {{ block('header_logo') }} 
                    Taken from header.twig: -->
                    <a href="/" class="header__logo">
                        <img src="" alt="" class="header__logo-image">
                        <span class="header__logo-text">
                            Vivify
                        </span>
                    </a>
                </div>

                <div class="header__inner order-3 hidden lg:flex flex-row items-center justify-end">
                <!-- {# header snippet #} -->
                        <!-- {% if gts.text_header %} -->
                        <span class="header-text">
                            <strong>Free shipping</strong> - on all orders over £35
                        </span>
                    <!-- {% endif %} -->
                    <!-- {# basket link #} -->
                    <a class="header__basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                        <a class="header__basket" data-toggle="offCanvasBasket" aria-expanded="false" aria-controls="offCanvasBasket">
                            <!-- Shopping basket icon -->
                            <svg class="icon icon_shopping-basket">
                                <use href="../assets/icons/Vivify-SVG-sprite.svg#shopping-basket" />
                            </svg>
                            <!-- Shopping basket icon -->
                            <span class="sr-only">shopping basket</span>
                        </a>
                    </a>
                </div>
            </div> 
        </div>
        <!-- {{ block('header_navigation') }} -->
        <div class="header__nav hidden lg:block">
            <nav class="main-container">
                <div class="header__nav-inner">
                    <button type="button" class="mobile-menu-toggle lg:hidden" data-toggle="offCanvasMobile">
                        <!-- {{ theme.sw_icon('bars') }} -->
                        <!-- Pause icon -->
                        <svg class="icon icon_pause">
                            <use href="../assets/icons/Vivify-SVG-sprite.svg#pause" />
                        </svg>
                        <!-- Pause icon -->
                        <span class="sr-only">menu</span>
                        Menu
                    </button>
                    <div class="header_mobile_right lg:hidden">
                        <a class="header__mobile-basket"{% if gts.offcanvas_basket and global.current_path != '/checkout/basket' %} data-toggle="offCanvasBasket"{% else %} href="/checkout/basket"{% endif %}>
                            <!-- {{ theme.sw_icon('shopping-bag', 'Shopping Basket') }} -->
                            <!-- Shopping basket icon -->
                            <svg class="icon icon_shopping-basket">
                                <use href="../assets/icons/Vivify-SVG-sprite.svg#shopping-basket" />
                            </svg>
                            <!-- Shopping basket icon -->
                            <span class="sr-only">shopping basket</span>
                            <span class="hidden lg:block">Shopping basket</span>
                            <!-- <span class="basket-count">{{ global.basket.items }}</span> -->
                        </a>
                        <button type="button" class="mobile-search-toggle" data-toggle="header-search">
                            <!-- {{ theme.sw_icon('glass', 'Search') }} -->
                            <!-- Search icon -->
                            <svg class="icon icon_magnifying-glass">
                                <use href="../assets/icons/Vivify-SVG-sprite.svg#magnifying-glass" />
                            </svg>
                            <!-- Search icon -->
                            <span class="sr-only">search</span>
                        </button>
                        <!-- {% if global.features.apps.currencies %}
                            {% include 'partials/currency_dropdown.twig' with { 'size': 'small' } %}
                        {% endif %} -->
                    </div>
                    <!-- {# Render main navigation #} -->
                    <div id="main-nav-wrapper" class="main-nav-wrapper{{ theme_config.nav_style == 1 ? ' click-drop' : '' }} hidden lg:block" data-toggler=".lg:block">
                        <ul class="main-nav flex flex-col justify-center lg:flex-row menu"
                            data-responsive-menu="accordion large-dropdown"
                            data-close-on-click-inside
                        >
                            <!-- {# Render home link #} -->
                            <li class="main-nav-home-link">
                                <a href="/"{% if global.current_path == '/' %} class="active"{% endif %}>
                                    Home
                                </a>
                            </li>
                            <!-- {# Render category links #} -->
                            <!-- {% for category in global.categories|slice(0, category_limit|default(20)) %}
                                <li{% if theme_config.nav_style == 1 %} data-id="{{ category.id }}" class="{{ category.categories ? 'parent-with-sub' }}"{% endif %}>
                                    <a href="{{ category.url }}" {% if category.url in global.current_url %}class="active" {% endif %}>
                                        {{ category.title }}
                                    </a>
                                    {% if category.categories and not theme_config.nav_style == 1 %} -->
                                        <ul class="main-nav flex flex-col lg:flex-row">
                                            <!-- {% for subcategory in category.categories %} -->
                                                <li>
                                                    <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                        Cool Tools
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                        <!-- {{ subcategory.title }} -->
                                                        Gadgets
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                        <!-- {{ subcategory.title }} -->
                                                        Gifts
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ subcategory.url }}" {% if global.current_url == subcategory.url %}class="active" {% endif %}>
                                                        <!-- {{ subcategory.title }} -->
                                                        Toys & Games
                                                    </a>
                                                </li>
                                            <!-- {% endfor %} -->
                                    <!-- {% endif %} -->
                                </li>
                            <!-- {% endfor %} 
                            {% if global.categories|length > category_limit|default(20) %}
                                <li>
                                    <a href="/categories">
                                        View All
                                    </a>
                                </li>
                            {% endif %}
                            {# category link list #}
                            {% set category_add_list = global.theme.settings.list_category_add %}
                            {% if category_add_list and category_add_list.links %}
                                {# Render custom links #}
                                {% for link in category_add_list.links %
                                    <li {% if loop.first %} id="list_category_add"{% endif %}>
                                        <a href="{{ link.url }}">
                                            {{ link.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            {# Render brand links #}
                            {% if global.brands %} -->
                                <li {% if theme_config.nav_style == 1 %} data-id="brands" class="parent-with-sub"{% endif %}>
                                    <a href="/brands" {% if global.current_path == '/brands' %}class="active" {% endif %}>
                                        Brands
                                    </a> 
                                    <!-- {% if not theme_config.nav_style == 1 %}
                                        <ul class="vertical menu is-dropdown-submenu">
                                            {% for brand in global.brands|slice(0, brand_limit|default(20)) %}
                                                <li>
                                                    <a href="{{ brand.url }}" {% if brand.url in global.current_path %}class="active" {% endif %}>
                                                        {{ brand.title }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                            {% if global.brands|length > brand_limit|default(20) %} 
                                                <li>
                                                    <a href="/brands">
                                                        View All
                                                    </a>
                                                </li>
                                            {% endif %} -->
                                        </ul>
                                    <!-- {% endif %} -->
                                </li>
                            <!-- {% endif %}
                            {# Render blog link #}
                            {% if global.features.apps.blog %} -->
                                <li>
                                    <a href="/blog"{% if global.current_path == '/blog' %} class="active"{% endif %}>
                                        Blog
                                    </a>
                                </li>
                            <!-- {% endif %} -->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <!-- {{ block('header_search') }} -->
    </header>
    <!-- {% endblock %}-->
    <main>
        <div class="main-container section-block">
            <div class="product grid grid-cols-1 lg:gap-x-16 lg:grid-cols-9">
                <section class="product__image h-max col-span-5">
                    <div class="product__image-inner flex">
                        <ul class="slick-dots hidden lg:block lg:self-center" role="tablist">
                            <li aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation20" id="slick-slide20">
                                <button type="button" data-role="none" role="button" tabindex="0">1</button>
                            </li>
                            <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation21" id="slick-slide21">
                                <button type="button" data-role="none" role="button" tabindex="0">2</button>
                            </li>
                            <li class="slick-active" aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation21" id="slick-slide21">
                                <button type="button" data-role="none" role="button" tabindex="0">3</button>
                            </li>
                            <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation21" id="slick-slide21">
                                <button type="button" data-role="none" role="button" tabindex="0">4</button>
                            </li>
                            <li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation21" id="slick-slide21">
                                <button type="button" data-role="none" role="button" tabindex="0">5</button>
                            </li>
                         </ul>
                         
                         <div class="product__image-wrapper">
                            <button class="zoom-in">
                                <!-- zoom in icon -->
                                <svg class="icon icon_zoom-in">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#zoom-in" />
                                </svg>
                                <!-- zoom in icon -->
                            </button>
                            <button class="product__slider-arrow product__slider-arrow_left lg:hidden">
                                <svg class="left-chevron-icon" height="28" width="28" viewBox="0 0 256 256">
                                    <polygon points="207.093,30.187 176.907,0 48.907,128 176.907,256 207.093,225.813 109.28,128"/>
                                </svg>
                            </button>
                            <button class="product__slider-arrow product__slider-arrow_right lg:hidden">
                                <svg class="right-chevron-icon" height="28" width="28" viewBox="0 0 256 256">
                                    <polygon points="79.093,0 48.907,30.187 146.72,128 48.907,225.813 79.093,256 207.093,128"/>
                                </svg>
                            </button>
                            <img src="../assets/images/product-img.png">
                         </div>
                    </div>
                    <div class="play-video text-right">
                        <svg class="icon icon_multimedia-player">
                            <use href="../assets/icons/Vivify-SVG-sprite.svg#multimedia-player" />
                        </svg>
                        <span class="underline">Play video</span>
                    </div>
                </section>

                <section class="product__form-outer col-span-4">
                    <div class="product__info flex justify-between">
                        <div class="product__info-text">
                            <a class="product__vendor capitalize underline">Armani Collezioni</a>
                            <h1 class="product__product-name">The letter J supply 'Something Wonderful'</h1>
                        </div>
                        <a href="#" class="wishlist-button" data-remove="" data-add="">
                            <!-- Heart icon -->
                            <svg class="icon icon_love">
                                <use href="../assets/icons/Vivify-SVG-sprite.svg#love" />
                            </svg>
                            <!-- Heart icon -->
                        </a>
                    </div>
                    <a class="product__description-link capitalize underline">view details</a>
                    <div class="product__price-info">
                        <span class="product__price font-extrabold">£380.00</span>
                        <span class="product__savings">(<span class="underline">bulk savings</span>)</span>
                        <span class="product__deal font-bold">3for2</span>
                    </div>
                    <form class="product-form" action="#">
                        <div class="product-form__field">
                            <p class="product-form__field-name">Size</p>
                            <div class="product-form__option-container">
                                <label class="product-form__variant-button">
                                    <input type="radio" name="group0" value="19432351" class="variant-button__input required" aria-required="true">
                                    <span class="variant-button__inner">small</span>
                                </label>
                                <label class="product-form__variant-button">
                                    <input type="radio" name="group0" value="19432351" class="variant-button__input required" aria-required="true">
                                    <span class="variant-button__inner">large</span>
                                <label class="product-form__variant-button">
                                    <input type="radio" name="group0" value="19432351" class="variant-button__input required" aria-required="true">
                                    <span class="variant-button__inner">extra large</span>
                                </label>
                            </div>
                        </div>
                        <div class="product-form__field">
                            <p class="product-form__field-name">Colour</p>
                            <select name="value[]" class="product-form__option w-full block required" aria=required="true">
                                <option value="">Please select...</option>
                                <option value="">blue</option>
                                <option value="">grey</option>
                                <option value="">red</option>
                            </select>
                        </div>
                        <div class="product-form__field">
                            <p class="product-form__field-name">Mobile phone charger</p>
                            <input class="checkbox-round" id="mobile-phone-charger"type="checkbox" name="" value="">
                            <label for="mobile-phone-charger">Yes (£10.00)</label>
                        </div>
                        <div class="product-form__field">
                            <p class="product-form__field-name">Customisation field label</p>
                            <input class="customisation-field-input w-full"></inp>
                        </div>
                        <div class="product-form__field">
                            <p class="product-form__field-name">QTY (Minimum order quantity 6. Maximum order quantity 12)</p>
                            <div class="flex">
                                <div class="number-toggle flex">
                                    <button class="number-toggle__down">
                                        <!-- Minus icon -->
                                        <svg class="icon icon_minus">
                                            <use href="../assets/icons/Vivify-SVG-sprite.svg#minus" />
                                        </svg>
                                        <!-- Minus icon -->
                                    </button>
                                    <input type="text" name="quantity" value="1" class="quantity-input">
                                    <button class="number-toggle__up">
                                        <!-- Plus icon -->
                                        <svg class="icon icon_plus">
                                            <use href="../assets/icons/Vivify-SVG-sprite.svg#plus" />
                                        </svg>
                                        <!-- Plus icon -->
                                    </button>
                                </div>
                                <button class="cart-button button w-full uppercase">Add to your bag</button>

                            </div>
                        </div>
                    </form>
                    <ul class="social-icons social-icons_black">
                        <li class="uppercase">
                            Share
                        </li>
                        <li>
                            <a href="#">
                                <!-- Facebook icon -->
                                <svg class="icon icon_facebook">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#facebook" />
                                </svg>
                                <!-- Facebook icon -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Twitter icon -->
                                <svg class="icon icon_twitter">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#twitter" />
                                </svg>
                                <!-- Twitter icon -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Linkedin icon -->
                                <svg class="icon icon_linkedin">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#linkedin" />
                                </svg>
                                <!-- Linkedin icon -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Pinterest icon -->
                                <svg class="icon icon_pinterest">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#pinterest" />
                                </svg>
                                <!-- Pinterest icon -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Youtube icon -->
                                <svg class="icon icon_youtube">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#youtube" />
                                </svg>
                                <!-- Youtube icon -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Instagram icon -->
                                <svg class="icon icon_instagram">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#instagram" />
                                </svg>
                                <!-- Instagram icon -->
                            </a>
                        </li>
                    </ul>
                    
                    <div class="rewards">
                        <!-- Premium badge icon -->
                        <svg class="icon icon_premium-badge rewards-icon">
                            <use href="../assets/icons/Vivify-SVG-sprite.svg#premium-badge" />
                        </svg>
                        <!-- Premium badge icon -->
                        <span>You’ll earn <span class="rewards-highlight font-bold">324 reward points</span> with this purchase.</span>
                    </div>
                </section>
            </div>

            <div class="grid grid-cols-1 lg:gap-x-12 lg:grid-cols-2 section-block">
                <section class="product-description">
                    <span class="product__price product__price_large block font-black">£380.00</span>
                    <div class="product-tabs">
                        <ul class="product-tabs__tabs">
                            <li class="product-tabs__tab-title active"><a href="#">Details</a></li>
                            <li class="product-tabs__tab-title"><a href="#">Specification</a></li>
                        </ul>
                        <div class="product-tabs__content">
                            <div class="product-tabs__content-panel">
                                <p>Designed with care in Sweden and crafted in Pforzheim, Germany using thoughtfully sourced, high-grade components. Movement from the world-renowned Swiss manufacturer Ronda and a 316L steel case produced with a careful combination of brushed and polished finishes. 
                                    <br><br>
                                    <ul class="list-disc list-inside">
                                        <li>Prices in GBP. Converted to EUR at checkout.</li>
                                        <li>Swiss Ronda 502 movement</li>
                                        <li>Sapphire crystal w. anti-reflective coating</li>
                                        <li>Water resistant to 3 ATM</li>
                                        <li>316L stainless steel case</li>
                                        <li>Enhanced PVD coating</li>
                                        <li>Italian full grain leather strap</li>
                                    </ul>
                                    </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="product-recommendations">
                    <div class="product-recommendations__heading-wrapper">
                        <h2 class="product-recommendations__heading uppercase inline-block font-black">You may also like</h2>
                        <button class="product-recommendations__arrow float-right align-middle">
                            <i class="sw-icon-arrow"></i>
                        </button>
                    </div>
                    <div class="product-cards-grid grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div class="product-cards-grid__card">
                            <img class="product-cards-grid__card-image" src="../assets/images/green-balls.png">
                            <p class="product-cards-grid__card-name">Giraffe bag containing a small giraffe</p>
                            <p class="product-cards-grid__card-price underline">£255.00</p>
                        </div>
                        <div class="product-cards-grid__card">
                            <img class="product-cards-grid__card-image" src="../assets/images/jigsaw.png">
                            <p class="product-cards-grid__card-name">Giraffe bag containing a small giraffe</p>
                            <p class="product-cards-grid__card-price underline">£255.00</p>
                        </div>
                        <div class="product-cards-grid__card">
                            <img class="product-cards-grid__card-image" src="../assets/images/jigsaw.png">
                            <p class="product-cards-grid__card-name">Giraffe bag containing a small giraffe</p>
                            <p class="product-cards-grid__card-price underline">£255.00</p>
                        </div>
                        <div class="product-cards-grid__card">
                            <img class="product-cards-grid__card-image" src="../assets/images/dad-set.png">
                            <p class="product-cards-grid__card-name">Giraffe bag containing a small giraffe</p>
                            <p class="product-cards-grid__card-price underline">£255.00</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </main>
    

    <footer>
        <div class="footer__grid grid grid-cols-1 lg:grid-cols-12">
            <div class="footer__menu lg:col-span-2">
                <h4 class="footer__menu-title">
                    Info
                </h4>
                <ul>
                    <li>
                        <a href="#" class="footer__menu-link">Home</a>
                    </li>
                    <li>
                        <a href="#" class="footer__menu-link">About Us</a>
                    </li>
                    <li>
                        <a href="#" class="footer__menu-link">FAQs</a>
                    </li>
                    <li>
                        <a href="#" class="footer__menu-link">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu lg:col-span-2">
                <h4 class="footer__menu-title">
                    Legals
                </h4>
                <ul>
                    <li>
                        <a href="#" class="footer__menu-link">Delivery</a>
                    </li>
                    <li>
                        <a href="#" class="footer__menu-link">Terms</a>
                    </li>
                    <li>
                        <a href="#" class="footer__menu-link">Privacy</a>
                    </li>
                    <li>
                        <a href="#" class="footer__menu-link">Refunds</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu lg:col-span-2">
                <h4 class="footer__menu-title">
                    Customers
                </h4>
                <ul>
                    <li>
                        <a href="#" class="footer__menu-link">Your bag</a>
                    </li>
                    <li>
                        <a href="#" class="footer__menu-link">Your Wishlist</a>
                    </li>
                    <li>
                        <a href="#" class="footer__menu-link">Your Account</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu lg:col-span-3 lg:text-right">
                <h4 class="footer__menu-title">
                    Connect with us
                </h4>
                <ul>
                    <form class="footer__email-form flex">
                        <input type="email" class="footer__email-input" placeholder="Email address">
                        <input class="ml-auto inline-block" type="submit" value=""><button class="sw-icon-arrow"></button></input>
                    </form>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <!-- Facebook icon -->
                                <svg class="icon icon_facebook">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#facebook" />
                                </svg>
                                <!-- Facebook icon -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Twitter icon -->
                                <svg class="icon icon_twitter">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#twitter" />
                                </svg>
                                <!-- Twitter icon -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Linkedin icon -->
                                <svg class="icon icon_linkedin">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#linkedin" />
                                </svg>
                                <!-- Linkedin icon -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Pinterest icon -->
                                <svg class="icon icon_pinterest">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#pinterest" />
                                </svg>
                                <!-- Linkedin icon -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Youtube icon -->
                                <svg class="icon icon_youtube">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#youtube" />
                                </svg>
                                <!-- Youtube icon -->
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <!-- Instagram icon -->
                                <svg class="icon icon_instagram">
                                    <use href="../assets/icons/Vivify-SVG-sprite.svg#instagram" />
                                </svg>
                                <!-- Instagram icon -->
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="footer__contact lg:order-first lg:col-span-3">
                <p class="footer__contact-telephone">
                    <span class="footer__contact-label">Tel:</span>
                    <a class="underline" href="tel:0330 111 2024">0330 111 2024</a>
                </p>
                <p class="footer__contact-email">
                    <span class="footer__contact-label">Email:</span>
                    <a class="underline" href="mailto:vivify-demo-1@ecommercethemes.uk">vivify-demo-1@ecommercethemes.uk</a>
                </p>
                <address class="footer__contact-address">
                    Suite 3, 17 Wrens Court, Sutton Coldfield, B72 1RT
                </address>
            </div>
            <div class="footer__copy lg:col-span-6">
                <p>
                    Copyright © 2022. All Rights Reserved.&nbsp;<a class="underline" href="" target="_blank">Ecommerce</a> by Ecommerce Themes
                </p>
            </div>
            <ul class="footer__payment-list lg:col-span-6 lg:text-right">
                <li>
                    <img src="https://s3-eu-west-1.amazonaws.com/theme-card-logos/card_paypal.png" alt="Paypal">
                </li>
                <li>
                    <img src="https://s3-eu-west-1.amazonaws.com/theme-card-logos/card_mastercard.png" alt="Mastercard">
                </li>
                <li>
                    <img src="https://s3-eu-west-1.amazonaws.com/theme-card-logos/card_visa.png" alt="Visa">
                </li>
                <li>
                    <img src="https://s3-eu-west-1.amazonaws.com/theme-card-logos/card_maestro.png" alt="Maestro">
                </li>
            </ul>
        </div>
        
    </footer>

</body>
</html>